.content-footer {
    display: grid;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 25px;
    text-align: center;
}
.footer-powered {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-powered .heart {
    fill: var(--alert);
}